.detailContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    margin-bottom: 1rem;
}

.detailTitle {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.emailLink {
    color: var(--blue)
}

@media screen and (max-width: 520px) {
    .detailContainer {
        display: flex;
        flex-direction: column;
    }
}