@font-face {
  font-family: grifter;
  src: url("/fonts/grifterbold.otf");
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--grey);
  width: 100%;
  height: 2rem;
  color: #000;
  text-align: center;
  padding: 1.5em;
}

.socials {
  position: absolute;
  left: 0;
  padding-left: 0.5rem;
}

.socials a {
  margin: 0 0.25rem;
}
.plug {
  position: absolute;
  right: 0;
  font-size: 0.8rem;
  padding-right: 2rem;
}

.siteLink {
  font-weight: bold;
  font-family: grifter;
}

@media screen and (max-width: 625px) {
  .socials {
    position: relative;
    padding-left: 0;
    margin-bottom: 0.5rem;
  }

  .footer {
    flex-direction: column;
    height: fit-content;
    padding: 1em 0;
  }

  .plug {
    position: relative;
    padding: 0;
    margin-top: 0.5rem;
  }
}
