.centreText {
    text-align: center;
}

.containerPadding {
    padding: 0 5rem;
}

.containerBgBorder {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0px 10px rgb(211, 211, 211);
}

@media screen and (max-width: 768px) {
    .containerPadding {
        padding: 0;
    }
}